@{
    ViewBag.Title = "SDET Test";
}
<div class="container">
    <h1>Soluto Programming Test</h1>
    <p>In the following test you will write a program that makes a couple of HTTP requests to our programming test API.<br />The API is defined as follows:</p>
    <div class=" table-responsive">
        <table class="table table-hover">
            <tr>
                <th>Title</th>
                <th>URL</th>
                <th>HTTP Method</th>
                <th>Params</th>
                <th>Headers</th>
                <th>Body</th>
                <th>Reponse</th>
            </tr>
            <tr>
                <td>Personal Token</td>
                <td><a href="http://solutohr.azurewebsites.net/api/Auth">/api/Auth</a></td>
                <td>GET</td>
                <td>apiKey (Your Name, Required)</td>
                <td></td>
                <td></td>
                <td>The personal token</td>
            </tr>
            <tr>
                <td>Post Solution</td>
                <td><a href="http://solutohr.azurewebsites.net/api/Solution">/api/Solution</a></td>
                <td>POST</td>
                <td>apiKey (Your Name, Required)</td>
                <td>Token</td>
                <td>Solution Code (Plain Text)</td>
                <td></td>
            </tr>
            <tr>
                <td>Check Solution</td>
                <td><a href="http://solutohr.azurewebsites.net/api/Solution">/api/Solution</a></td>
                <td>GET</td>
                <td>apiKey (Your Name, Required)</td>
                <td></td>
                <td></td>
                <td>Success/Fail</td>
            </tr>
        </table>
    </div>
    <p>Your test is to make a request to the first API endpoint to receive your personal token, and then make a request to the second API while using the token you received from the first request with the code of your program in the request’s body.</p>
    <h3>An Example Flow</h3>
    <ol>
        <li>
            Perform a GET request to the URL <a href="http://solutohr.azurewebsites.net/api/Auth?apiKey=JohnDoe">http://solutohr.azurewebsites.net/api/Auth?apiKey=JohnDoe</a>
        </li>
        <li>
            Get the personal token out of the response (let’s say it’s "ABCDE")
        </li>
        <li>
            Perform a POST request to the URL <a href="http://solutohr.azurewebsites.net/api/Solution?apiKey=JohnDoe">http://solutohr.azurewebsites.net/api/Solution?apiKey=JohnDoe</a> that:
            <ul>
                <li>
                    Has a header named "Token" with the value received in the first request. For example:<br />Token: ABCDE
                </li>
                <li>Contains your code as plain text in the request’s body</li>
            </ul>
            
        </li>
    </ol>
    <p>
        To check whether your solution is correct you can perform a get request to the third API endpoint.
    </p>
    <p>
        The test is limited to 90 minutes. When you are ready to start click the button below.
    </p>

</div>
